.sectionContainer {
  width: 100%;
  height: 80vh;
  margin: 50px 0;
  background: linear-gradient(90deg, #fbb6c0 50%, #fed671 50%);
  overflow: hidden;
}

.residentContainer {
  width: 80%;
  height: 100%;
  max-width: 1440px;
  padding: 10px 50px;
  margin: auto;
  transform: skew(-20deg);
  background-color: white;
}

.noskew {
  transform: skew(20deg);
}

.residentTitle {
  font-size: 28px;
}

.dogContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.residentImg {
  height: 250px;
  width: auto;
  border-radius: 250px;
}

.nameContainer {
  position: absolute;
  right: -30px;
  bottom: 30px;
  width: 90px;
  height: 30px;
  transform: skew(-20deg);
}

h4 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  text-align: center;
}

.aboutContainer {
  padding: 0 110px;
  transform: skew(20deg);
}

.aboutTitle {
  margin-top: 30px;
  font-size: 28px;
}

p {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .sectionContainer {
    height: auto;
  }
  .residentContainer {
    width: 100%;
    max-width: 800px;
    padding: 10px 0;
  }
  .dogContainer {
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;
  }
  .aboutContainer {
    padding: 0 120px;
  }
  .residentTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .swiperContainer {
    width: 70%;
  }
  .residentImg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .nameContainer {
    right: 120px;
  }
}
