.dimensions {
  height: 100vh;
  width: 100%;
}

.headerContainer {
  width: 100%;
  max-width: 1440px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 3;
}

.logoSize {
  height: 100px;
  width: auto;
}

.horMenu {
  display: flex;
  column-gap: 100px;
}

.verMenu {
  position: absolute;
  right: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.horMenu li,
.verMenu li {
  list-style-type: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 5px rgb(102, 28, 28);
}

.horMenu li:hover,
.verMenu li:hover {
  color: rgb(102, 28, 28);
}

.containerSmall {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  overflow: hidden;
}

.containerBig {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgContainer {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}

.imgSmall {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 74% 50%;
  transform: skew(-10deg);
}

.imgBig {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 74% 50%;
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.titleImg {
  height: 350px;
  width: auto;
  image-rendering: optimizeQuality;
}

.buttonContainer {
  margin-top: 10px;
  text-align: center;
}

.menuButton {
  padding: 15px 25px;
  border: 2px solid white;
  background-color: #f56379;
  color: white;
  font-size: 18px;
}

.menuButton:hover {
  background-color: #f31d3d;
}

@media (max-width: 1024px) {
  ul {
    column-gap: 60px;
  }
  ul li {
    font-size: 18px;
  }
  .logoSize {
    height: 50px;
  }
}

@media (max-width: 800px) {
  .dimensions {
    height: 50vh;
  }
  .headerContainer {
    padding: 20px;
  }
  .imgContainer {
    height: 50vh;
  }
  .titleContainer {
    top: 25%;
  }
  .titleImg {
    height: 200px;
  }
  .menuButton {
    padding: 10px 20px;
    font-size: 16px;
  }
}
